<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconNameColor</key>
		<string>wakeup_color.png</string>
		<key>iconNameWhite</key>
		<string>wakeup_white.png</string>
		<key>planName</key>
		<string>起床</string>
		<key>selectedTime</key>
		<string>7:00</string>
		<key>canSelectedTimeList</key>
		<string>6:00&amp;6:30&amp;7:00&amp;7:30&amp;8:00&amp;8:30&amp;9:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n按时睁开眼睛，并保持\r\n摆脱趴着（或躺着）姿势\r\n唤醒大脑\r\n准备迎接新的一天\r\n\r\n为何做\r\n一日之际在于晨，又云日出而作\n太阳既已起床，你为啥还不起？\r\n\r\n奖励\r\n按时完成可获得3枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>breakfast_color.png</string>
		<key>iconNameWhite</key>
		<string>breakfast_white.png</string>
		<key>planName</key>
		<string>早餐</string>
		<key>selectedTime</key>
		<string>8:00</string>
		<key>canSelectedTimeList</key>
		<string>6:00&amp;6:30&amp;7:00&amp;7:30&amp;8:00&amp;8:30&amp;9:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n七八点时分吃早餐\r\n新鲜碳水化合物、蛋白质和蔬果一样不能少\r\n安安静静坐着吃，不可匆忙和马虎\r\n\r\n为何做\r\n不做身体会变酸\r\n慢性病会找上门\r\n首当其冲是胃的病\r\n而晨起后没有能量补充的你的躯壳和皮囊\r\n从大脑到脚趾头\r\n一天都会好倦怠\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>water_color.png</string>
		<key>iconNameWhite</key>
		<string>water_white.png</string>
		<key>planName</key>
		<string>喝水</string>
		<key>selectedTime</key>
		<string>9:30</string>
		<key>canSelectedTimeList</key>
		<string>8:30&amp;9:00&amp;9:30&amp;10:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n按时有质有量有温度的完成六杯水。\r\n起床一杯水。\r\n上午两杯水。\r\n下午两杯水\r\n晚上一杯水。\r\n\r\n为何做\r\n不是只有女人是水做成的，男人也是，地球也是。\r\n饮水不足可使人体新陈代谢功能紊乱，体质下降，免疫功能减弱，容易遭致各种感染，引发多种疾病。\r\n而生病时，“多喝点水“，是人们最爱用的万能“特效药“。\r\n\r\n奖励\r\n每杯水可获得1枚健康币，该卡总计六杯水。\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>jump_color.png</string>
		<key>iconNameWhite</key>
		<string>jump_white.png</string>
		<key>planName</key>
		<string>跳绳</string>
		<key>selectedTime</key>
		<string>11:00</string>
		<key>canSelectedTimeList</key>
		<string>10:00&amp;10:30&amp;11:00&amp;11:30</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n连续三组，每组一分钟，间隔一分钟。\r\n总计五分钟。\r\n每分钟建议跳绳次数为120个。\r\n每天一次。\r\n开始之前做好热身，尤其是腿部拉伸运动。\r\n一周后可以循序渐进增加强度。\r\n\r\n为何做\r\n小时候人人都要完成的体育项目有木有\r\n原地运动，动作规范，强度大，时间短\r\n相较跑步损伤小\r\n有氧运动必备的项目之一\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>lunch_color.png</string>
		<key>iconNameWhite</key>
		<string>lunch_white.png</string>
		<key>planName</key>
		<string>午餐</string>
		<key>selectedTime</key>
		<string>12:00</string>
		<key>canSelectedTimeList</key>
		<string>11:00&amp;11:30&amp;12:00&amp;12:30&amp;13:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n正午时分吃午餐\r\n工作和就餐只能二选一\r\n不吃隔夜的爱心便当\r\n不吃油水足足的快餐盒饭\r\n品要全，量要少\r\n要不吃完就会打瞌睡\n\n为何做\r\n午餐被认为三餐之首，\r\n因其具有无法替代的承上启下的作用。\r\n忽略午餐，让饥饿感倍增，\r\n会不自觉增加晚餐的食量，\r\n由此产生的多米诺效应后果很严重。\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>run_color.png</string>
		<key>iconNameWhite</key>
		<string>run_white.png</string>
		<key>planName</key>
		<string>跑步</string>
		<key>selectedTime</key>
		<string>14:30</string>
		<key>canSelectedTimeList</key>
		<string>13:30&amp;14:00&amp;14:30&amp;15:00&amp;15:30</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n保持中低强度运动心率30分钟。其中前\r\n5-10分钟为热身。建议尽可能在室内使用跑步机完成，避免空气污染。每周3-4次。\r\n\r\n为何做\r\n大肌肉群整体运动。锻炼心肺功能，让全身各组织、器官得到良好的氧气和营养供应，维持最佳的功能状况。\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>walk_color.png</string>
		<key>iconNameWhite</key>
		<string>walk_white.png</string>
		<key>planName</key>
		<string>快走</string>
		<key>selectedTime</key>
		<string>16:30</string>
		<key>canSelectedTimeList</key>
		<string>15:30&amp;16:00&amp;16:30&amp;17:00&amp;17:30</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n保持中低强度运动心率30分钟，适用于没有运动习惯的人群。\r\n快走速度参考标准为30分钟走完4000米，可根据个人情况调整目标。\r\n建议尽可能在室内使用跑步机完成，避免空气污染。每天一次。\r\n\r\n为何做\r\n快走是对膝盖损害较小的有氧运动，属于一般民众的入门运动项目。\r\n有效的快走增强心肺功能，锻炼肌肉和骨骼，增进新陈代谢。\r\n\r\n奖励\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>climbStairs_color.png</string>
		<key>iconNameWhite</key>
		<string>climbStairs_white.png</string>
		<key>planName</key>
		<string>爬楼梯</string>
		<key>selectedTime</key>
		<string>17:30</string>
		<key>canSelectedTimeList</key>
		<string>17:00&amp;17:30&amp;18:00&amp;18:30&amp;19:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n找个至少有两层楼的地方。以匀速往返十层。\r\n每天一次。\r\n开始之前做好热身。过程中发现不适，应该立即停止锻炼。\r\n一周后可以根据自己身体情况增加楼层。\r\n如果有电梯，可以使用电梯下楼。\r\n\r\n为何做\r\n自古人们爱登高。如今更有人奉爬楼梯为“运动之王“。\r\n登高1米等于散步28米。其消耗的能量是静坐的10倍，走路的5倍，慢跑的2倍。\r\n锻炼心肺和下身肌肉的不二选择。\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>dinner_color.png</string>
		<key>iconNameWhite</key>
		<string>dinner_white.png</string>
		<key>planName</key>
		<string>晚餐</string>
		<key>selectedTime</key>
		<string>18:30</string>
		<key>canSelectedTimeList</key>
		<string>18:00&amp;18:30&amp;19:00&amp;19:30&amp;20:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n傍晚六点时分吃晚餐。晚于八点的是宵夜，要禁。\r\n晚餐可以考虑吃斋饭，清淡最重要。\r\n满汉全席什么的看看就好，吃多了，一个晚上加一个第二天都不好过。\r\n\r\n为何做\r\n晚餐过晚过饱都会给胃增加负担\r\n所谓 “胃不和，卧不安“。\r\n晚餐不好，将会直接影响睡眠。\r\n另外，大鱼大肉的摄入会诱发或加重包括心血管疾病在内的慢性疾病。\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>plate_color.png</string>
		<key>iconNameWhite</key>
		<string>plate_white.png</string>
		<key>planName</key>
		<string>平板支撑</string>
		<key>selectedTime</key>
		<string>20:30</string>
		<key>canSelectedTimeList</key>
		<string>19:30&amp;20:00&amp;20:30&amp;21:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n俯卧，双肘弯曲支撑在地面上，肩膀和肘关节垂直于地面，双脚踩地，身体离开地面，躯干伸直，头部、肩部、胯部和踝部保持在同一平面，腹肌收紧，盆底肌收紧，脊椎延长，眼睛看向地面，保持均匀呼吸。\r\n每组保持30秒，休息30秒，每次4组。\r\n每天一次。\r\n一周后可以根据自己身体情况增加每组时间和组数。\r\n\r\n为何做\r\n增强腰、腹部以及背部稳定性和平衡性，能在短时间内取得较高的能量消耗。\r\n被公认为训练核心肌群最有效的方法之一。\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>situp_color.png</string>
		<key>iconNameWhite</key>
		<string>situp_white.png</string>
		<key>planName</key>
		<string>平地卷腹</string>
		<key>selectedTime</key>
		<string>21:30</string>
		<key>canSelectedTimeList</key>
		<string>21:00&amp;21:30&amp;22:00&amp;22:30&amp;23:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n平躺，双膝弯曲，脚平放在地面上。双手交叉置于胸前，腹部发力上身抬起。\r\n每次做4组，每组20个，休息30秒。\r\n每天一次。\r\n一周后可以根据自己身体情况增加每组次数和组数。\r\n\r\n为何做\r\n去掉小肚子\r\n让腹部肌肉平坦有力\r\n防止骨盆前倾\r\n减少腰背痛的几率\r\n\r\n奖励\r\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>bianbian_color.png</string>
		<key>iconNameWhite</key>
		<string>bianbian_white.png</string>
		<key>planName</key>
		<string>便便</string>
		<key>selectedTime</key>
		<string>21:30</string>
		<key>canSelectedTimeList</key>
		<string>21:00&amp;21:30&amp;22:00&amp;22:30&amp;23:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n这个应该每个人都会吧。\r\n通常来说\r\n一天一次，晨起排便，五分钟内顺利完成黄金香蕉便，\r\n即为最佳。\r\n每周三次以上不算便秘。\r\n每天三次以下，没有明显拉稀，也算正常。\r\n\r\n为何做\r\n排便实质为排毒。每天身体产生的毒素，80％需要通过肠道来排出。\r\n否则，这些毒素会被重复吸收，损害人体健康甚至引发癌症。\r\n70％左右的人体免疫细胞也都在肠道，因此95％以上感染性疾病与肠道有关。\r\n\r\n奖励\n按时完成可获得2枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>sleep_color.png</string>
		<key>iconNameWhite</key>
		<string>sleep_white.png</string>
		<key>planName</key>
		<string>睡觉</string>
		<key>selectedTime</key>
		<string>22:30</string>
		<key>canSelectedTimeList</key>
		<string>21:30&amp;22:00&amp;22:30&amp;23:00&amp;23:30&amp;00:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n每天午夜前务必让自己回到舒适的床上\r\n保持右侧卧，并微曲双腿的姿势。\r\n闭上眼睛\r\n盖好被子\r\n放下杂乱的思绪\r\n均匀的呼吸\r\n慢慢睡去\r\n别想着周末补觉，有些事情，错过了就是错过了\r\n为何做\r\n人不是猫科动物，长期晚睡是一种病，与包括糖尿病、心血管疾病等慢性病之间有着高度的关联性，死亡率是正常人的四倍。\r\n最重要的是，晚睡还会让人变傻，晚睡让你来不及打起床卡。\r\n\r\n奖励\r\n按时完成可获得3枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>drops_color.png</string>
		<key>iconNameWhite</key>
		<string>drops_white.png</string>
		<key>planName</key>
		<string>吃药</string>
		<key>selectedTime</key>
		<string>22:30</string>
		<key>canSelectedTimeList</key>
		<string>21:30&amp;22:00&amp;22:30&amp;23:00&amp;23:30&amp;00:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n遵医嘱\r\n\r\n为何做\r\n遵医嘱\r\n\r\n奖励\r\n按时完成可获得1枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>snore_color.png</string>
		<key>iconNameWhite</key>
		<string>snore_white.png</string>
		<key>planName</key>
		<string>午睡</string>
		<key>selectedTime</key>
		<string>22:30</string>
		<key>canSelectedTimeList</key>
		<string>21:30&amp;22:00&amp;22:30&amp;23:00&amp;23:30&amp;00:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n选择安静避光的地方侧卧\r\n午餐后30分钟开始午睡\r\n睡眠时间为20分钟左右\r\n\r\n为何做\r\n午睡是人类自然睡眠周期的一个部分。\r\n人们被迫“放弃“午睡，仍然避免不了在中午时分产生强烈的困意。\r\n午睡后工作效率会大大提高，使心血管系统舒缓。\r\n\r\n奖励\r\n按时完成可获得1枚健康币\r\n完成后可以添加备注</string>
	</dict>
	<dict>
		<key>iconNameColor</key>
		<string>circle_color.png</string>
		<key>iconNameWhite</key>
		<string>circle_white.png</string>
		<key>planName</key>
		<string>水果</string>
		<key>selectedTime</key>
		<string>22:30</string>
		<key>canSelectedTimeList</key>
		<string>21:30&amp;22:00&amp;22:30&amp;23:00&amp;23:30&amp;00:00</string>
		<key>isPlanFinished</key>
		<false/>
		<key>summary</key>
		<string>如何做\r\n每天吃两种时令新鲜水果，每种不超过拳头大小的量。\r\n在早餐以及下午茶食用为最佳。\r\n也可使用不加糖的新鲜果汁代替。\r\n\r\n为何做\r\n水果摄入量过少是全球十大死亡高危因素之一\r\n经常吃水果可以明显降低肿瘤等慢性疾病的危险度\r\n延缓细胞的衰老过程\r\n大量的维生素可维持细胞的正常分化\r\n\r\n奖励\r\n按时完成可获得1枚健康币\r\n完成后可以添加备注</string>
	</dict>
</array>
</plist>
